*,
*::before,
*::after {
  box-sizing: border-box;
}

.slide {
    display: block;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
  position: relative;
  height: 100%;
  margin: auto;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.btn {
    border: none;
    background-color:purple;
    color: white;
    margin: auto;
    padding: 0 0.5rem 0 0.5rem;
  }

.btn:hover {
    background-color:purple;
    opacity:0.6;
}