*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
body {
    font-family: sans-serif;
    background-color: #f9fbfd;
}*/

.time-container {
    text-align: left;
}

.highscore-container {
    text-align: right;
}


.quiz-container {
    display: block;
    height: 100%;
    margin: 100px 500px;
}

/* quiz wrapper */
#quiz {
    font-family: sans-serif;
    background-color: #f9fbfd;
}

.question {
    display: none;
    margin: 100px 500px;
}

/* wrapper for each question */
#quiz.question {
    margin-bottom: 10px;
}

/* question */
#quiz-wrap h1 {
    font: 22px;
    margin: 5px 0;
}

/* answers */
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline;
}

.startBtn {
    /* display: none; */
    border: none;
    background-color:purple;
    color: white;
    margin: 100px 500px;
  }

.prevBtn {
    border: none;
    background-color:purple;
    color: white;
    margin: 100px 500px;
  }
  
.nextBtn {
    border: none;
    background-color:purple;
    color: white;
    margin: 100px 500px;
  }  

.submitBtn {
    border: none;
    background-color:purple;
    color: white;
    margin: 100px 500px;
} 

.btn:hover {
    background-color:purple;
    opacity:0.6;
}

/*
.slide {
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}