*,
*::before,
*::after {
  box-sizing: border-box;
}

/* time container styling */
.time-container {
    text-align: left;
}

/* highscore container styling */
.highscore-container {
    text-align: right;
}

/* quiz container styling */
.quiz-container {
    display: block;
    height: 100%;
    margin: 100px 500px;
}

/* highscore wrapper styling */
.highscore-wrapper {
    display: block;
    height: 100%;
    margin: 100px 500px;
}

/* styling for highscore wrapper heading */
.highscore-wrapper h1 {
    font-family: sans-serif;
}

/* quiz wrapper */
#quiz {
    font-family: sans-serif;
}

/* question styling */
.question {
    margin: 100px 500px;
}

/* wrapper for each question */
#quiz.question {
    margin-bottom: 10px;
}

/* answers */
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline;
}

/* styling for start button */
.startBtn {
    /* display: none; */
    border: none;
    background-color:purple;
    color: white;
    margin: 0 10px;
    border-radius: 10px;
  }

/* styling for go back button */
.prevBtn {
    border: none;
    background-color:purple;
    color: white;
    margin: 0 10px;
    border-radius: 10px;
  }
  
/* styling for submit button */
.submitBtn {
    display: none;
    border: none;
    background-color:purple;
    color: white;
    margin: 0 10px;
    border-radius: 10px;
}

/* styling for clear id */
#clear {
    border: none;
    background-color:purple;
    color: white;
    margin: 0 10px;
    border-radius: 10px;
}

/* styling for button hover */
.btn:hover {
    background-color:purple;
    opacity:0.6;
}