*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
body {
    font-family: sans-serif;
    background-color: #f9fbfd;
}*/

.time-container {
    text-align: left;
}

.highscore-container {
    text-align: right;
}


.quiz-container {
    display: block;
    height: 100%;
    margin: 100px 500px;
}

/* quiz wrapper */
#quiz {
    font-family: sans-serif;
}

.question {
    display: none;
    margin: 100px 500px;
}

/* wrapper for each question */
#quiz.question {
    margin-bottom: 10px;
}

/* question
#quiz-wrap h1 {
    font: 22px;
    margin: 5px 0;
} */

/* answers */
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline;
}

.startBtn {
    /* display: none; */
    border: none;
    background-color:purple;
    color: white;
  }

/* .startButton {
    border: none;
    background-color:purple;
    color: white;
}   */

.prevBtn {
    border: none;
    background-color:purple;
    color: white;
  }
  
.nextBtn {
    border: none;
    background-color:purple;
    color: white;
  }  

.submitBtn {
    border: none;
    background-color:purple;
    color: white;
} 

.btn:hover {
    background-color:purple;
    opacity:0.6;
}